{% extends 'global/base.html' %}
{% block tittle %}  Login | {% endblock tittle %} 

{% block content %}
    <div class="main-content center container ">
        <h2>Login</h2>
    </div>
    {% include 'global/partials/messages.html' %}
    <div class= "main-content center container">
        {% if request.user.is_authenticated %}
        <div>
             Your are loggen in {{request.user.username}}, 
             <form class= 'inline-form'action="{% url 'authors:logout' %}" method='POST'>
                 {% csrf_token %}
                 <input type="hidden" name='username' value={{request.user.username }}>
                 <button class="plaintext-button" type= 'submit'> click here </button>
             </form>
             to logout
        </div> 
         
     {% endif %}
    </div>
    {% include 'global/partials/form.html' %}

 


   
{% endblock content %}
